OPENVPN_PROVIDER=NORDVPN
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
LOCAL_NETWORK=10.0.0.0/16
NORDVPN_COUNTRY=US
NORDVPN_CATEGORY=legacy_p2p
NORDVPN_PROTOCOL=tcp
OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
TRANSMISSION_DOWNLOAD_DIR=/downloads/complete
TRANSMISSION_INCOMPLETE_DIR=/downloads/incomplete
TRANSMISSION_INCOMPLETE_DIR_ENABLED=True
TRANSMISSION_START_ADDED_TORRENTS=True
TRANSMISSION_WATCH_DIR=/watch
TRANSMISSION_WATCH_DIR_ENABLED=True
TRANSMISSION_DOWNLOAD_QUEUE_SIZE=50
#TRANSMISSION_RATIO_LIMIT=0
TRANSMISSION_WEB_UI=transmission-web-control