:root {
  --div-edges: var(--text-color);
  /* --background-color: rgb(20, 14, 11); */
  --background-color: #222d31;
  /* --text-color: #16a085;  */
  --text-color: #1abb9b;
}
h1.header {
  /* text-align: center; */
  color: var(--text-color);
}

a {
  color: var(--text-color);
}
img {
  display:block;
}
table {
  table-layout: auto;
  width: 100%;
}

p.header {
  line-height: 1;
  font-size: 110%;
}

p.component {
  line-height: 0.5;
}

p.work_experience {
  text-align: left;
  line-height: 0px;
}
h2.component {
  color: #16a085;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--div-edges);
}
h3.work_experience {
  text-align: left;
}

li.work_experience {
  text-align: left;
}
div.header {
  text-align: center;
  border: 10px solid var(--div-edges);
  margin: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

div.component {
  text-align: center;
  border: 10px solid var(--div-edges);
  /* border: 10px solid #16a085; */
  margin: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#main {
  background-color: var(--background-color);
  font-family: monospace;
  color: var(--text-color);
  max-width: 1080px;
  margin: auto;
}
