OPENVPN_PROVIDER=
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
LOCAL_NETWORK=
NORDVPN_COUNTRY=
NORDVPN_CATEGORY=
NORDVPN_PROTOCOL=
OPENVPN_OPTS=
TRANSMISSION_WEB_UI=
TRANSMISSION_DOWNLOAD_DIR=
TRANSMISSION_INCOMPLETE_DIR=
TRANSMISSION_INCOMPLETE_DIR_ENABLED=
TRANSMISSION_START_ADDED_TORRENTS=
TRANSMISSION_WATCH_DIR=
TRANSMISSION_WATCH_DIR_ENABLED=
TRANSMISSION_DOWNLOAD_QUEUE_SIZE=
TRANSMISSION_RATIO_LIMIT=