<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">daroach.net</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.daroach.net/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item"><a class="nav-link" href="blog/">Blog</a></li>
      <li class="nav-item">
        <a class="nav-link" href="https://karnana.daroach.net/">Karnana</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://cloud.daroach.net/">Cloud</a>
      </li>

      <li class="nav-item navbar-right">
        <a class="nav-link" href="aboutme.html">About Me</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" href="aboutme.html">About Me</a></li>
    </ul>
  </div>
</nav>
