<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="https://www.daroach.net/">daroach.net</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://daroach.net/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://daroach.net/karnana/">Karnana</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://cloud.daroach.net/">Cloud</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-link" href="https://daroach.net/aboutme/">About Me</a>
      </li>
    </ul>
  </div>
</nav>
