<section id="navbar">

  <nav id = "daroachnet_navbar" class="navbar navbar-dark navbar-expand-md bg-dark">

    <div class="container">
      <a class="navbar-brand" href="https://daroach.net/"><i class="fa fa-coffee" aria-hidden="true"></i> daroach.net</a>

      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="navhome">
            <a class="nav-link" href="https://daroach.net/">home</a>
          </li>
          <li class="nav-item" id="navabout">
            <a class="nav-link" href="https://daroach.net/about/">about</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item" id="navblog">
            <a class="nav-link disabled " href="https://daroach.net/blog/">blog</a>
          </li>
          <li class="nav-item" id="navkarnana">
            <a class="nav-link" href="https://daroach.net/karnana/">karnana</a>
          </li>
          <li class="nav-item" id="navcloud">
            <a class="nav-link" href="https://cloud.daroach.net/">cloud</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

</section>
