@tailwind base;
@tailwind components;

@layer components {

  .dnet-button {
    @apply bg-red-900 rounded-lg px-4 py-2 text-white uppercase;
    @apply border-2 border-red-900 hover:border-white;
  }

  .dnet-card-color {
    @apply bg-black rounded-xl shadow-2xl;
    @apply text-center text-white select-none;
  }

  .dnet-card {
    @apply flex m-auto p-4;
    @apply dnet-card-color;
  }

  .dnet-fullscreen {
    @apply dnet-card-color m-auto p-4;
  }

  .dnet-bg {
    @apply bg-red-900;
  }

  .dnet-navbar {
    @apply bg-black text-white p-2;
  }

  .dnet-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
