@tailwind base;
@tailwind components;

@layer components {

  .dnet-button {
    @apply bg-red-900 rounded-lg px-4 py-2 ;
    @apply text-white uppercase;
    @apply border-2 border-red-900 hover:border-white;
  }

  .dnet-card-color {
    @apply bg-black rounded-xl shadow-2xl;
  }

  .dnet-card-text {
    @apply text-center text-gray-100 select-none;
  }

  .dnet-card {
    @apply m-auto p-4;
    @apply dnet-card-color dnet-card-text;
  }

  .dnet-fullscreen {
    @apply m-auto p-4;
    @apply dnet-card-color dnet-card-text;
  }

  .dnet-bg {
    @apply bg-gradient-to-b from-black via-red-500 to-red-600 animate-gradient-y;
  }

  .dnet-navbar {
    @apply top-0 w-full;
    @apply bg-black text-white p-2;
  }

  .dnet-footer {
    @apply fixed bottom-0 w-full;
  }

  .dnet-content {
    @apply container mx-auto p-4 dnet-card-color text-white;
    > h1 {
      @apply border-b-2 border-white;
    }
  }
}
